/*VA*/
@font-face {
    font-family: 'digital_display';
    src: url('../fonts/digital_display_tfb-webfont.eot');
    src: url('../fonts/digital_display_tfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital_display_tfb-webfont.woff') format('woff'),
         url('../fonts/digital_display_tfb-webfont.ttf') format('truetype'),
         url('../fonts/digital_display_tfb-webfont.svg#digital_display_tfbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eurostileregular';
    src: url('../fonts/eurosti-webfont.eot');
    src: url('../fonts/eurosti-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurosti-webfont.woff') format('woff'),
         url('../fonts/eurosti-webfont.ttf') format('truetype'),
         url('../fonts/eurosti-webfont.svg#eurostileregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eurostilebold';
    src: url('../fonts/eurostib-webfont.eot');
    src: url('../fonts/eurostib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurostib-webfont.woff') format('woff'),
         url('../fonts/eurostib-webfont.ttf') format('truetype'),
         url('../fonts/eurostib-webfont.svg#eurostilebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
a
{
  color: #e5581b;
}
a:hover
{
  color: #FFF;
  text-decoration: none;
}
aside, section
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
body
{
  background: #000 url(../images/bg-tarde.jpg) no-repeat;
  font-family: 'eurostileregular';
}
footer
{
  background: url(../images/bg-footer.jpg) no-repeat;
  min-height: 192px;
}
header
{
  background: url(../images/bg-header.png) no-repeat right bottom;
  height: 228px;
  padding-top: 8px;
}
h1#site-name
{
  margin: 0;
}
h1#site-name a
{
  background: url(../images/logo-m24.jpg) no-repeat;
  display: block;
  height:228px;
  text-indent: -9999px;
  width: 470px;
}
h2
{
  color: #e5581b;
  font-size: 36px;
  line-height: 1.5;
}
iframe
{
  height: auto;
  min-height: 433px;
}
nav
{
  background: #0c0c0c; /* Old browsers */
  background: -moz-linear-gradient(top,  #0c0c0c 0%, #141414 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c0c0c), color-stop(100%,#141414)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0c0c0c 0%,#141414 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0c0c0c 0%,#141414 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0c0c0c 0%,#141414 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0c0c0c 0%,#141414 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
  border-bottom: 4px solid #e5581b;
}
nav ul
{
  font-family: 'eurostileregular';
  margin: 0;
}
nav li
{
  padding: 10px;
}
nav li a
{
  color: #FFF;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
nav li a:hover
{
  color: #e5581b;
  text-decoration: none;
}
ul.menu-usuario
{
  overflow: hidden;
}
ul.menu li
{
  padding: 0 10px;
}
ul.menu li.first
{
  padding-left: 0;
}
ul.menu li.last
{
  padding-right: 0;
}
.copyright
{
  text-align: center;
}
.cuenta-regresiva
{
  background: #020202; /* Old browsers */
  background: -moz-linear-gradient(top,  #020202 0%, #2a2a2a 48%, #020202 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#020202), color-stop(48%,#2a2a2a), color-stop(100%,#020202)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #020202 0%,#2a2a2a 48%,#020202 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #020202 0%,#2a2a2a 48%,#020202 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #020202 0%,#2a2a2a 48%,#020202 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #020202 0%,#2a2a2a 48%,#020202 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#020202',GradientType=0 ); /* IE6-9 */
  height: 206px;
  margin: 22px 20px 0 0;
  text-align: center;
}
.cuenta-regresiva .content
{
  color: #a9a9a9;
  font-family: 'digital_display';
  font-size: 36px;
  letter-spacing: 1px;
  padding-top: 8px;
}
.cuenta-regresiva p
{
  margin: 15px;
}
.cuenta-regresiva .dias
{
  font-size: 55px;
  line-height: 36px;
}
.menu-usuario li, 
.menu-utilitario li
{
  box-sizing: border-box;
  float: left;
  list-style: none;
}
.menu-utilitario
{
  margin: auto;
  width: 380px;  
}
.menu-utilitario a
{
  color: #FFF;
}
.menu-utilitario a:hover
{
  color: #e5581b;
  text-decoration: none;
}
.participa
{
  background: rgba(0, 0, 0, .94);
  height: 54px;
  margin-top: 90px;
}
.participa p
{
  margin: 0;
  text-align: center;
}
.participa a
{
  color: #e5581b;
  font-family: 'digital_display';
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 0.9;
  text-decoration: none;
}
.participa a:hover
{
  color: #FFF;
}
.slogan-superior
{
  background: rgba(0, 0, 0, .94);
  color: #a9a9a9;
  font-family: 'digital_display';
  font-size: 21px;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  top: 0;
}
.slogan-superior p
{
  margin: 5px 0;
}
.sociales
{
  margin-top: 38px;
}
.sociales .widgets-element
{
  margin-bottom: 5px;
}
.sociales .widgets-element:last-child
{
  margin-bottom: 0;
}
.twitter-timeline
{
  min-height: 367px;
}
#app
{
  position: relative;
}
#main-wrapper
{
  background: #000 url(../images/bg-content.jpg) no-repeat bottom left;
  color: #FFF;
  font-size: 17px;
  font-family: 'eurostileregular';
}
#map_canvas
{
  min-height: 500px;
  width: 100%;
}
#map_overlay
{
  position: absolute;
  background: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100%;
  top: 0;
}
#page
{
  position: relative;
}
#skip-link
{
  margin: 0;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1; /* IE7 */
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-position: 100% 2px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}
fieldset.collapsible {
  position: relative;
}
fieldset.collapsible .fieldset-legend {
  display: block;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.resizable-textarea .grippie {
  background: #eee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
body.drag {
  cursor: move;
}
.draggable a.tabledrag-handle {
  cursor: move;
  float: left; /* LTR */
  height: 1.7em;
  margin-left: -1em; /* LTR */
  overflow: hidden;
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background: url(../../misc/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em; /* LTR */
  padding: 0.42em 0.5em; /* LTR */
  width: 13px;
}
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}
div.indentation {
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  width: 20px;
}
div.tree-child {
  background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}
div.tree-child-horizontal {
  background: url(../../misc/tree.png) no-repeat -11px center;
}
.tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}
.progress .percentage {
  float: right; /* LTR */
}
/* Throbber */
.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}
.ajax-progress .message {
  padding-left: 20px;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
.container-inline div,
.container-inline label {
  display: inline;
}
/* Fieldset contents always need to be rendered as block. */
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}